apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  AUTH_DB_NAME: auth_db
  AUTH_DB_USER: auth
  AUTH_DB_PASSWORD: 123123

  USERS_DB_NAME: users_db
  USERS_DB_USER: users
  USERS_DB_PASSWORD: 123123

  TICKETS_DB_NAME: tickets_db
  TICKETS_DB_USER: tickets
  TICKETS_DB_PASSWORD: 123123

  AUTH_DATABASE_URL: postgresql://auth:123123@auth-db-service:5432/auth_db
  USERS_DATABASE_URL: postgresql://users:123123@users-db-service:5432/users_db
  TICKETS_DATABASE_URL: postgresql://tickets:123123@tickets-db-service:5432/tickets_db

  MAIL_USER: example@gmail.com
  MAIL_PASS: qwer qwer qwer qwer