# AUTH DB
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=123123
AUTH_DB_PORT=5433

AUTH_SV_PORT=3001

# USERS DB
USERS_DB_NAME=users_db
USERS_DB_USER=users
USERS_DB_PASSWORD=123123
USERS_DB_PORT=5434

USERS_SV_PORT=3002

# TICKETS DB
TICKETS_DB_NAME=tickets_db
TICKETS_DB_USER=tickets
TICKETS_DB_PASSWORD=123123
TICKETS_DB_PORT=5435

TICKETS_SV_PORT=3003